<menu></menu>
<div class="container">
  <div>
    <h1>Create your poll</h1>

    <form>
      <div class="form-group">
        <label for="votingname">Enter your voting Description</label>
        <input type="text" class="form-control" ng-model="votingname" id="votingname">
      </div>
      <div class="form-group option-wrapper" ng-repeat="votingOption in votingOptions">
        <label for="votingOption.id">Enter your option Description</label>
        <input type="text" class="form-control" ng-model="votingOption.name" id="votingOption.id">
        <div class="del" ng-click="deleteOption(votingOption.id)">X</div>
      </div>
      <button type="button" class="btn btn-default" ng-click="createOption()">Add option</button>
      <button type="submit" class="btn btn-default">Publish</button>
    </form>
  </div>
</div>
