<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#!/">Cust your Vote</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{active : getactiveclass('/')}"><a href="/#!/">Home</a></li>
      <li ng-class="{active : getactiveclass('/create')}"><a href="/#!/create">Create new poll</a></li>
      <li ng-class="{active : getactiveclass('/view')}"><a href="/#!/view">View</a></li>
    </ul>
  </div>
</nav>
